/* Elementor - Transparent Header + Sticky + Scroll Changes

INSTRUCTIONS
1. Build your header in Elementor as you normally would.  Set your section to sticky under Advanced. Set Effects Offset to 1. This allows us to change the color on scroll, otherwise the new sticky would take effect incorrectly for what we want to do
2. Set the Z-index of your header section to a number higher than any z-index of your page content (I used 5 for the tutorial)
3. Set your header's BOTTOM margin to a negative value that matches the overall height of your header (before sticky).
4. To ensure we can easily edit our content in Elementor afterwards we can add some extra CSS. 
5. Add the CSS below to your header css in Advanced Settings
*/

body.elementor-editor-active selector {
margin-bottom:0px !important;
}

/* Background color on sticky */
.elementor-sticky--effects {
background-color:rgba(255,255,255,0.85);
transition: all 0.5s ease;
}

/* --- LOGO ---- */
/* Logo sizing before sticky */
.logo img {
width: auto;
max-height: 120px;
transition: all 0.5s ease;
}

/* Logo sizing after sticky */
.elementor-sticky--effects .logo img {
max-height: 65px;
width: auto;
}
